.main .inner .title {
    color:  #006a4e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.main .inner img {
    width: 100px;
    margin: 30px auto;
}

.main .inner .welcome-text {
    margin-top: 20px;
    text-align: center;
}

.main .inner .welcome-text .enrolled-number {
    color: #006a4e;
    font-weight: 700;
}

.main .inner .btn-group {
    margin: 40px auto 0;
}

.main .inner .btn-group .btn {
    margin: 10px auto 0;
}