/* SEARCH */
.main .inner {
    padding: 0px 0px;
}

/* MODAL */
.black-bg {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 3;
}

.black-bg.hide {
    display: none;
}

.search-modal {
    display: block;
    background-color: #fefefe;
    border-radius: 4px;
    border: 1px solid #888;
    width: 302px;
    height: 446px;
    padding: 25px 0;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -226px 0 0 -151px;
    z-index: 4;
}

.search-modal.hide {
    display: none;
}

.search-modal h6.title {
    text-align: center;
    color: #006a4e;
    font-weight: 600;
    margin-bottom: 20px;
}

.search-modal form {
    padding: 15px 40px;
}

.search-modal form .input-item {
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 35px;
    align-items: center;
}

.search-modal form .input-item h6 {
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}

.search-modal form .input-item select {
    width: 80%;
    position: absolute;
    right: 0px;
    background-color: #fff;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
}

.search-modal form [type=submit] {
    width: 100%;
    margin: 5px 0px 0px;
    padding: 12px;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #006a4e;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

/* SEARCH-BOX */
.search-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
}

.search-box .key-word {
    border: 1px solid #006a4e;
    color: #006a4e;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 10px;
    box-sizing: border-box;
}

.search-box button {
    border: none;
    background-color: #fff;
}

.search-box button .material-icons {
    color: #006a4e;
    font-size: 25px;
    font-weight: lighter;
    margin-top: 5px;
}

.search-box button .material-icons:hover {
    color: #ddd;
}

/* POST-BOX */
.post-container {
    display: block;
}

.post-container .post-box {
    background-color: #fff;
    border-top: 1px solid #006a4e;
    color: #555;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
}

.post-container .post-box:hover {
    background-color: #ddd;
}


.post-container .post-box img {
    border-radius: 4px;
    width: 140px;
    height: 140px;
    object-fit: cover;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.post-container .post-box .description {
    display: block;
    margin-left: 10px;
}

.post-container .post-box .description .breed-tags {
    display: flex;
}

.post-container .post-box .description .breed-tags div.tag {
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    padding: 4px 6px;
    box-sizing: border-box;
    margin-right: 5px;
}

.breed-tags div.tag:first-child {
    background: #F8807E;
}

.breed-tags div.tag:nth-child(2) {
    background: #FBA43A;
}

.breed-tags div.tag:last-child {
    background: #26B395;
}

.post-container .post-box .description ul.details {
    font-size: 14px;
    margin: 15px 0px 0px 5px;
}

.post-container .post-box .description ul.details li {
    margin-bottom: 5px;
}