<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유기견 등록</title>

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Find My Dog" />
    <meta property="og:title" content="Find My Dog" />
    <meta property="og:description" content="AI 서비스를 통해 나의 소중한 강아지를 찾아보세요." />
    <meta property="og:image" content="../../static/img/starbucks_seo.jpg" />
    <meta property="og:url" content="" />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="Find My Dog" />
    <meta property="twitter:title" content="Find My Dog" />
    <meta property="twitter:description" content="AI 서비스를 통해 나의 소중한 강아지를 찾아보세요." />
    <meta property="twitter:image" content="../../static/img/starbucks_seo.jpg" />
    <meta property="twitter:url" content="" />

    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/register_2.css')}}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script defer src="{{url_for('static', filename='js/common.js')}}"></script>
    <script defer src="{{url_for('static', filename='js/register_2.js')}}"></script>

</head>

<body>

    <!-- HEADER -->
    <header>
        <div class="inner">
            <div class="menu">
                <div class="material-icons">menu</div>
                <div class="items">
                    <ul class="inner">
                        <li><a href="/">홈</a></li>
                        <li><a onclick="showMyPageAlert()">마이 페이지</a></li>
                        <li><a href="/search">유기견 검색</a></li>
                        <li><a onclick="showRegisterAlert()"></a></li>
                        <li><a onclick="showSigninAlert()">로그인/회원가입</a></li>
                    </ul>
                </div>
            </div>
            <a href="/" class="material-icons">pets</a>
            <div class="signin">
                <div id="signin_status" onclick="changeSigninStatus()">로그인</div>
            </div>
        </div>
    </header>

    <!-- MAIN -->
    <section class="main">
        <div class="inner">
            <div class="slide-pager-container">
                <div class="slide-pager">
                    <div class="bul-1"></div>
                    <div class="bul-2"></div>
                    <div class="bul-3"></div>
                    <div class="bul-4"></div>
                </div>
            </div>
            <div class="register__card">
                <form>
                    <div class="image-box-container">
                        <img id="dog-img" class="image-box" src="../../static/img/sample_dog.jpg" alt="dog-image">
                    </div>
                    <div class="wrapper">
                        <div class="result-title">품종 분류 결과</div>
                        <article id="ranking-box">
                            <section class="ranking">
                                <div class="rank-num">1</div>
                                <div class="title"><span>페키니즈</span></div>
                            </section>

                            <section class="ranking">
                                <div class="rank-num">2</div>
                                <div class="title"><span>치와와</span></div>
                            </section>

                            <section class="ranking">
                                <div class="rank-num">3</div>
                                <div class="title"><span>시츄</span></div>
                            </section>
                        </article>
                    </div>
                    <div class="btn-group">
                        <a href="/register" class="btn btn--reverse">이전</a>
                        <a href="/register/3" class="btn btn--reverse">다음</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <div class="inner">
            <div class="info">
                <span>HUFS COMPREHENSIVE DESIGN 2021-1</span>
            </div>

            <p class="copyright">
                &copy; <span class="this-year"></span> 내강아지를찾아조. All Rights Reserved.
            </p>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#ranking-box").empty();
            
            var image = document.getElementById('dog-img');
            var img_url = localStorage.getItem('imgUrlData');
            image.src = img_url;

            localStorage.removeItem('breedData');
            var breed_data = JSON.parse(localStorage.getItem('breedTempData'));
            classifyBreed(breed_data);
        });

        // TM 모델 연결
        const URL = "../../static/my_model/";
        let model, webcam, labelContainer, maxPredictions;

        async function classifyBreed(breed_data) {
            // // 기존 init() 부분
            const modelURL = URL + "model.json";
            const metadataURL = URL + "metadata.json";

            model = await tmImage.load(modelURL, metadataURL);
            maxPredictions = model.getTotalClasses();

            // 기존 predict() 부분
            var image = document.getElementById("dog-img");
            const prediction = await model.predict(image, false);

            //TM 모델 결과값들을 key(품종 목록): value(퍼센트) 형태로 저장
            var dict = {};
            for (let i = 0; i < maxPredictions; i++) {
                dict[prediction[i].className] = prediction[i].probability.toFixed(2);

            }

            //퍼센트 내림차순 정렬
            var sortable = [];
            for (var i in dict) {
                sortable.push([i, dict[i]]);
            }

            sortable.sort(function (a, b) {
                return b[1] - a[1];
            });

            var dictObject = {};
            for (let i = 0; i < sortable.length; i++) {
                var first = sortable[i];
                dictObject[first[0]] = first[1];
            }


            //dictObject 객체에서 퍼센테이지가 0인 품종 목록들 삭제
            for (var zero in dictObject) {
                if (dictObject[zero] == 0.00) {
                    delete dictObject[zero];
                }
            }

            console.log(dictObject);

            //데이터베이스에서 추출한 값
            var a = {};
            for (let i = 0; i < breed_data.length; i++) {
                a[breed_data[i]] = '';
            }

            console.log(a);


            var later = {}; // 추후 데이터베이스에서 추출한 값과 이름이 같은 것들만 저장할 부분
            // db에서 전달받은 품종 목록과 dictObject의 각 요소를 비교하여 품종 목록이 같은 요소만 추출하여 새로운 객체 later에 저장하는 부분입니다.    
            for (let i = 0; i < Object.keys(a).length; i++) {
                const curr = Object.keys(a)[i];
                for (let j = 0; j < Object.keys(dictObject).length; j++) {
                    if (curr == Object.keys(dictObject)[j]) {
                        later[Object.keys(dictObject)[j]] = dictObject[Object.keys(dictObject)[j]];
                    }
                }
            }

            //추출된 later을 다시 내림차순 정렬하는 부분입니다. 로직은 위의 배열-객체 전환 로직과 동일합니다.
            var sortable2 = [];

            for (var keys in later) {
                sortable2.push([keys, later[keys]]);
            }
            sortable2.sort(function (a, b) {
                return b[1] - a[1];
            });

            //내림차순 정렬된 객체 c는 최종적으로 출력에 사용할 객체입니다.
            var c = {};
            for (let i = 0; i < sortable2.length; i++) {
                var sec = sortable2[i];
                c[sec[0]] = sec[1];
            }

            console.log(c);

            // 여기서부터 출력과 관련된 코드입니다.
            var breed_final = [];

            //객체 c의 요소가 3개 이상이라면 가장 처음 3개 요소를 추출합니다.
            if (Object.keys(c).length >= 3) {
                for (let i = 0; i < 3; i++) {
                    const dictc = Object.keys(c)[i] + ":" + dictObject[Object.keys(dictObject)[i]];
                    console.log(dictc);
                    breed_final.push(dictc);
                }
            }

            //객체 c의 요소가 3개 이하인 부분으로 3가지로 나눠집니다. 
            else {
                if (Object.keys(c).length == 0) { //c의 요소가 0개인 경우 : tm 모델에서 가장 높은 값 3개를 가져와 그대로 추출합니다.         
                    for (let i = 0; i < 3; i++) {
                        if (Object.keys(c)[i] != undefined) {
                            const dictObj = Object.keys(dictObject)[i];
                            console.log(dictObj);
                            breed_final.push(dictObj);
                        }
                    }

                } else if (Object.keys(c).length ==
                    1) { //c의 요소가 1개인 경우 : tm모델 품종 목록에서 c와 동일한 요소를 삭제한 후 가장 상위 요소 2개를 추가로 추출합니다.
                    var cfirst = c[0];
                    delete dictObject[cfirst];

                    for (let i = 0; i < 2; i++) {
                        c[Object.keys(dictObject)[i]] = dictObject[Object.keys(dictObject)[i]];

                    }
                    //예외처리
                    for (var def in c) {
                        if (typeof (c[def]) === "undefined") {
                            delete c[def];
                        }
                    }

                    for (let i = 0; i < Object.keys(c).length; i++) {

                        const dictc1 = Object.keys(c)[i];
                        console.log(dictc1);
                        breed_final.push(dictc1);
                    }

                } else { // c의 요소가 2개인 경우: 마찬가지로 tm 모델 품종 목록에서 c와 동일한 요소들을 삭제한 후 가장 상위 요소 1개를 추출합니다.
                    var cfirst = c[0];
                    var csecond = c[1];
                    delete dictObject[cfirst];
                    delete dictObject[csecond];

                    c[Object.keys(dictObject)[0]] = dictObject[Object.keys(dictObject)[0]];
                    //예외처리
                    for (var def in c) {
                        if (typeof (c[def]) === "undefined") {
                            delete c[def];
                        }
                    }

                    for (let i = 0; i < Object.keys(c).length; i++) {

                        const dictc2 = Object.keys(c)[i];
                        console.log(dictc2);
                        breed_final.push(dictc2);
                    }

                }
            }

            console.log(breed_final);
            localStorage.setItem('breedData', JSON.stringify(breed_final));
            insertRankData(breed_final);
        }

        // 랭크 삽입
        function insertRankData(breed_list) {
            console.log(breed_list);

            for (let i = 0; i < breed_list.length; i++) {
                let num = i + 1;
                let breed = breed_list[i];
                let element = `<section class="ranking">
                            <div class="rank-num">${num}</div>
                            <div class="title"><span>${breed}</span></div>
                        </section>`

                $("#ranking-box").append(element);
            }
        }
    </script>
</body>

</html>